.App {
    margin: auto;
    padding: 4em;
    width: 45vw;
    height: 80vh;
    font-family: 'Fredoka One', cursive;
    text-align: center;   
}

.Search {
    padding-bottom: 1em;
}


input[type="text"] {
    width: 25vw;
    height: 5vh;
    outline: none;
    border-radius: 25px;
    font-size: 2.5vw;
    text-align: center;
}