[icon="main-thunderstorm"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/11n@2x.png);
}

[icon="main-drizzle"] { 
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/09d@2x.png);
}

[icon="main-rain"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
}

[icon="main-snow"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/13d@2x.png);
}

[icon="main-atmosphere"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/50d@2x.png);
}

[icon="main-clear"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
}

[icon="main-clouds"] {
    width: 100px;
    height: 100px;
    background-image: url(http://openweathermap.org/img/wn/03d@2x.png);
}

